@import '../../../../../../assets/styles/variables';

.containerSomebody {
}

.innerSame {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	height: auto;
	margin-bottom: 5px;
	margin-left: 40px;

	.mesInfo {
		display: flex;
		flex-direction: column;
		word-wrap: break-word;
		max-width: 40%;

		.lowBlock {
			display: flex;
			flex-direction: column;
			justify-content: flex-start;
			background-color: $extra-accent;
			padding: 10px;
			border-radius: 15px 15px 15px 0px;
			font-weight: 300;
			gap: 10px;

			.textMes {
				display: flex;
				align-items: center;
				word-break: break-word;
			}
			span {
				color: $grey;
				font-size: 12px;
				display: flex;
				align-items: flex-end;
				white-space: nowrap;
			}
		}
	}
}

.image {
	img {
		max-width: 30px;
		max-height: 30px;
		min-height: 30px;
		min-width: 30px;
		border-radius: 50%;
	}
}

.innerNotSame {
	display: flex;
	justify-content: flex-start;
	align-items: flex-end;
	gap: 10px;
	height: auto;
	margin-bottom: 15px;

	.mesInfo {
		display: flex;
		flex-direction: column;
		word-wrap: break-word;
		max-width: 40%;

		.lowBlock {
			display: flex;
			flex-direction: column;

			justify-content: flex-start;
			background-color: $extra-accent;
			padding: 10px;
			border-radius: 15px 15px 15px 0px;
			font-weight: 300;
			gap: 10px;

			.textMes {
				display: flex;
				align-items: center;
				word-break: break-word;
			}
			span {
				color: $grey;
				font-size: 12px;
				display: flex;
				align-items: flex-end;
				white-space: nowrap;
			}
		}
	}
}
