@import '../../assets/styles/variables';

.container{
  background-color: $accent;
  display: flex;
  max-width: 100vw;
  max-height: 100vh;
  min-width: 100vw;
  min-height: 100vh;
  color: white;
}
