@import '../../../../../assets/styles/variables';

.container {
	display: flex;
	align-items: center;
	height: 10vh;
	padding-inline: 20px;
	form {
		display: flex;
		align-items: center;
		background-color: $extra-accent;
		padding: 15px;
		padding-inline: 20px;
		border-radius: $border;
		bottom: 0;
		width: 100%;
		.leftSide {
			display: flex;
			align-items: center;
			gap: 20px;
			width: 100%;

			input {
				width: 100%;
			}
		}
		.rightSide {
			display: flex;
			align-items: center;
			justify-content: flex-end;
			margin-left: 20px;

			.filesInput {
				display: flex;
				align-items: center;
				gap: 20px;
				&::after {
					content: '';
					height: 30px;
					width: 1px;
					background-color: $grey;
					margin-right: 20px;
				}
			}
		}
		.inputText {
			background-color: transparent;
			color: white;
		}
		label {
			font-size: 22px;
			cursor: pointer;
			color: $grey;
		}
		button {
			font-size: 22px;
			color: $blue;
		}
	}
}
