@import '../../../assets/styles/variables';

.container {
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 100vh;
	overflow: hidden;

	.emptyChat {
		display: flex;
		height: 100%;
		text-align: center;
		align-items: center;
		justify-content: center;
		span {
			background-color: $extra-accent;
			padding: 10px;
			padding-inline: 20px;
			border-radius: $border;
		}
	}
}
