@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&family=Quicksand:wght@400;500;700&family=Roboto:wght@400;500&display=swap');

$accent: #17191A;
$extra-accent: #272A2F;
$blue: #43A1FC;
$red: #F52803;
$white: #F6F7FB;
$border: 10px;

$bx-accent: 0 0 10px 10px rgba(0,0,0,6%);

$default-font: 'Roboto', sans-serif;

$mobile: 480px;